<div id='menu' (click)="displayMenu()"
  [ngStyle]="{
      'border': this.theme === 'black' ? '3px solid var(--firstWhite)' : '3px solid var(--firstBlack)'
      'border': this.theme === 'black' ? '3px solid var(--firstWhite)' : '3px solid var(--firstBlack)'
  }">
    <img 
    src="{{this.theme === 'black' ? ''}}" 
    alt=""
    >
</div>
<ul id='links'>
    <li>
        <a [routerLink]="['/']">Home</a>
    </li>
    <li>
        <a [routerLink]="['/contact']">Contact</a>
    </li>
    <li>
        <a [routerLink]="['/projects']">Briefcase</a>
    </li>
</ul>