@font-face {
    src: url('./assets/fonts/Itim-Regular.ttf');
    font-family: itim;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
    font-family: itim;
}

:root {
    --firstGreen: #23CE6B;
    --firstBlack: #272d2d;
    --firstWhite: #F6F8FF;
    --firstPurple: #A846A0; 
    --firstGray: #50514F;
    --secondaryBlack: #020202;
    --green1: #16DB65;  
    --green2: #058C42;  
    --green3: #04471C;  
    --green4: #0D2818;  
}