@font-face {
  src: url('../public/fonts/Righteous-Regular.ttf');
  font-family: righteous
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, Fira Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Cantarell, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --firstGreen: #23CE6B;
  --firstBlack: #272d2d;
  --firstWhite: #F6F8FF;
  --firstPurple: #A846A0; 
  --firstGray: #50514F;
  --secondaryBlack: #020202;
  --green1: #16DB65;  
  --green2: #058C42;  
  --green3: #04471C;  
  --green4: #0D2818;
}
